@media(max-width : 1200px){
    #slideshow{
        height: 600px;
    }
}
@media(max-width : 990px){
    .navbar .content .right{
        display: none;
    }
    .navbar .btn-check:focus + .btn-primary, .btn-primary{
        display: inline-block;
    }
    
    .features .content{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .features .content .cont{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .discover .content .left img{
        width: 100%;
    }
    .discover .content .right{
        width: initial;
        margin-bottom: initial;
        margin-left: initial;
    }
    .more .accordion-body{
        flex-direction: column;
    }
    .accordion-item:nth-child(2) .accordion-body{
        flex-direction: column-reverse;
    }
    
    .accordion-item:last-of-type .accordion-body{
        flex-direction: column-reverse;
    }
    .more .accordion-body img{
        margin-left: auto;
        margin-right: auto;
    }
    .launch .left img{
        width: 320px;
    }
    .launch .right{
        text-align: center;
        padding-top: 15px;
    }
    .launch .right p{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .pricing .content{
        flex-direction: column;
    }
    .pricing .content .cont{
        margin-left: auto;
        margin-right: auto;
    }
    .steps .content{
        flex-direction: column-reverse;
        gap: 0;
    }
    .steps .content .right{
        max-width: 500px;
    }
    .pricing .content .two{transform: translate(0);}
}
@media(max-width:790px){
    .header{
        height: 130vh;
    }
    .header img{
        width: 100%;
    }
    .accordion-item .accordion-button{
        font-size: 20px;
    }
    .steps .content .left .cont{
        flex-direction: column;
        gap: 0;
    }
    .steps .content img{
        width: 270px;
    }
    .tempContainer{
        top: 0;
    }
    .tempContainer img{
        width: 374px;
        height: 400px;
        object-fit: contain;
        margin-top: 90px;
    }
    .steps .content .left .cont .left h1{
        width: 60px;
        height: 60px;
        line-height: 2.3;
    }
    .test .cont p{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .pricing .content .cont h5{
        margin-bottom: 0;
    }
    .features,
    .discover,
    .more,
    .pricing,
    .faq,
    .steps,
    .gallery .content{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .more .accordion-body .right p{
        font-size: 12px;
    }
    #slideshow{
        height: 565px;
    }
    .pricing .content{
        padding-top: 30px;
    }
    .special-heading p + h3{
        font-size: 28px;
        margin-bottom: 15px;
    }
}