body{
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
    position: relative;
}
:root{
    --sec-font-family: 'Rubik', sans-serif;
}
::-webkit-scrollbar{
    background: linear-gradient(135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%); 
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #faf6fb;
    border-radius: 12px;
}
::selection{
    background-color: rgba(60, 8, 118); 
    color: white;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    color: unset;
    text-decoration: none;
}
/* start navbar */
.navbar{
    background: transparent;
    z-index: 1;
}
.navbar .content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    color: white;
}
.navbar .content .right ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 22px;
}
.navbar  ul li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #c9c7c7;
    padding-bottom: 4px;
    transition: 0.3s;
}
.navbar  ul li a:hover{
    color: white;
}
.navbar .content .right ul li:not(:last-child){
    transform: translate(0 , 4px);
}
.navbar .content .right ul button{
    width: 100px;
    height: 30px;
    background: transparent;
    color: white;
    border: 1px solid;
    padding: 4px;
    transition: 0.3s;
    border-radius: 7px;
}
.play {
    color: white !important;
    border-bottom: 3px dashed white;
}
.navbar .content .right ul button:hover{
    background-color: white;
    color: #ef3391;
    border: none;
}
.navbar .sec{
    background: none;
}
.navbar .sec ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-left: auto;
    margin-right: auto;
}
.offcanvas.show{
    background: linear-gradient(135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    height: 100%;
    text-align: center;
    max-width: 320px;
}
.offcanvas-header{
    text-align: center;
}
.navbar .btn-check:focus + .btn-primary, .btn-primary{
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.navbar .btn-check:focus + .btn-primary, .btn-primary:hover{
    background-color: transparent;
}
.btn-check:focus + .btn-primary, .btn-primary:focus{
    box-shadow: none;
    background-color: transparent;
    border: none;
}
.navbar .menu{
    width: 30px;
}
.navbar .btn-check:focus + .btn-primary, .btn-primary{
    display: none;
    transform: translate(0px, -10px);
}

/* end navbar */
/* start header */
.header{
    background: linear-gradient(135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%); 
    transform: translate(0px, -84px);
    padding-top: 150px;
    text-align: center;
    z-index: 0;
    height: 100vh;
    overflow-y: hidden;
    color: white;
}
.header h1{
    font-weight: 500;
}
.header p{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: 300;
    color: #c1b7b7;
}
/* end header */
/* start spons */
.spons{
    transform: translate(0px, -50px);
    text-align: center;
}
.spons img{
    width: 100%;
}
/* end spons */
/* start features */
.features {
    background-color: #faf6fb;
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;
}
.special-heading{
    text-align: center;
}
.special-heading p{
    margin-bottom: 0;
    font-size: 14px;
}
.special-heading p + h3{
    font-size: 35px;
    font-weight: 700;
    color: #a53691;
    text-transform: uppercase;
    margin-top: 0;
}
.features .content{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.features .content .cont{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    border-left: 3px solid #ea3492;
    padding-left: 15px;
    padding-right: 15px;
    width: 340px;
    transition: 0.5s;
    text-align: start;
    margin-left: 15px;
}
.features .content .cont:hover{
    transform: translate(0 , -10px);
    box-shadow: 0 0 10px grey;
}
.features img{
    width: 60px;
}
.features .content .cont h4{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}
/* end features */
/* start discover */
.discover{
    padding-top: 100px;
}
.discover .content{
    display: flex;
    flex-direction: column-reverse;
}
.discover .content .right {
    width: 50%;
    margin-left: auto;
    margin-bottom: -145px;
}
.discover .content .right img{
    width: 60px;
    margin-bottom: 25px;
}
.discover .content .right h2{
    font-size: 35px;
    text-transform: uppercase;
    color: #fd3f48;
}
.discover .content .right p{
    font-size: 20px;
    font-weight: 300;
}
.discover .content .right button{
    width: 150px;
    height: 40px;
    background-color: #fd3e90;
    color: white;
    border: none;
    border-radius: 9px;
    transition: 0.3s;
}
.discover .content .right button:hover{
    background-color: white;
    border: 1px solid #fd3e90;
    color: #fd3e90;
}
/* end discover */
/* start more */
.more{
    background-color: #faf6fb;
    padding-top: 100px;
    padding-bottom: 60px;
}
.accordion-item{
    max-width: 900px;
    margin: 10px auto;
}
.accordion-item .accordion-button{
    color: rgb(212, 161, 170);
    font-size: 25px;
    text-transform: uppercase;
}
.accordion-item:nth-child(2) .accordion-body{
    flex-direction: row-reverse;
}

.accordion-item:last-of-type .accordion-body{
    flex-direction: row-reverse;
}
.accordion-item .accordion-button:focus{
    color: purple;
}
.more button:focus{
    background-color: white;
    border: none;
    box-shadow: none;
    border-top: 3px solid purple;
}
.accordion-button:not(.collapsed){
    background-color: white;
    box-shadow: none;
}
.more .accordion-body{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.more .accordion-body .right h2{
    font-family: var(--sec-font-family);
    margin-bottom: 0;
    margin-top: 0;
    font-size: 30px;
    color: purple;
    font-weight: 400;
}
.more .accordion-body .right h5{
    font-size: 17px;
    font-weight: 500;
    color: #f7bbc5;
    margin-top: 0;
}
.more .accordion-body .right p{
    font-size: 15px;
    font-weight: 400;
    color: #777;
    line-height: 1.6;
}
/* end more */
/* start launch */
.launch {
    padding-top: 100px;
    padding-bottom: 60px;
}
.launch .left img{
    width: 100%;
}
.launch .right {
    padding-top: 100px;
}
.launch .right img{
    width: 60px;
}
.launch .right h3{
    color: #fd7a78;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--sec-font-family);
}
.launch .right p{
    font-size: 20px;
    font-weight: 300;
}
.launch .right button{
    width: 150px;
    height: 40px;
    background-color: #fd7a78;
    border: 1px solid #fd7a79;
    color: white;
    border-radius: 8px;
    transition: 0.3s;
}
.launch .right button:hover{
    background-color: white;
    color: #fd7a79;
}
/* end launch */
/* start steps */
.steps{
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: #faf6fb;
}
.steps .content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.steps .content img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.steps .content .left{
    padding: 20px 30px;
}
.steps .content .left .cont{
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: 1px solid #ff94c4;
    margin-bottom: 10px;
}
.steps .content .left .cont .left{
    text-align: center;
    font-family: var(--sec-font-family);
}
.steps .content .left .cont .left h1{
    padding-top: 8px;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #f5378e;
    line-height: 2;
    transition: 0.3s ease-in-out;
}
.steps .content .left .cont:hover h1{
    background-color: #f5378e;
    color: white;
}
.steps .content .left .cont .right h3{
    font-size: 28px;
    font-weight: 500;
    color: #633991;
    font-family: var(--sec-font-family);
}
.steps .content .left .cont .right p{
    font-size: 18px;
    font-weight: 300;
}
/* end steps */
/* start test */
.test{
    padding-top: 100px;
    padding-bottom: 60px;
}
.test  .content{
    overflow: hidden;
    position: relative;
    height: 360px;
}
/* .test .cont{
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
} */
.test .cont img{
    border-radius: 50%;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.test .cont p{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}
.test .cont h3{
    margin-top: 5px;
    font-size: 30px;
    color: purple;
    text-align: center;
}
.test .cont h5{
    font-size: 20px;
    color: pink;
    text-align: center;
}
.test .one{
    margin-left: 0;  
}
.test .owl-nav ,
.test .owl-dots{
    display: none;
}
/* end test */
/* start gallery */
.gallery {
    margin: 0;
    padding: 0;
  }
  
  .gallery{
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #faf6fb;
  }
  .gallery .content{
      padding-top: 100px;
      padding-bottom: 60px;
  }
  #slideshow {
    margin: 0 auto;
    padding-top: 50px;
    height: 600px;
    width: 100%;
    background-color: #faf6fb;
    box-sizing: border-box;
  }
  
  .slideshow-title {
    font-family: 'Allerta Stencil';
    font-size: 62px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-top: 25%;
    letter-spacing: 3px;
    font-weight: 300;
  }
  
  .sub-heading {
    padding-top: 50px;
    font-size: 18px;
  } .sub-heading-two {
    font-size: 15px;
  } .sub-heading-three {
    font-size: 13px;
  } .sub-heading-four {
    font-size: 11px;
  } .sub-heading-five {
    font-size: 9px;
  } .sub-heading-six {
    font-size: 7px;
  } .sub-heading-seven {
    font-size: 5px;
  } .sub-heading-eight {
    font-size: 3px;
  } .sub-heading-nine {
    font-size: 1px;
  }
  
  .entire-content {
    margin: auto;
    width: 190px;
    perspective: 1000px;
    position: relative;
    /* padding-top: 80px; */
  }
  
  .content-carrousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 30s infinite linear;
    transform-style: preserve-3d;
  }
  
  .content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
  }
  
  .content-carrousel figure {
    width: 100%;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
  }
  
  .content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px); 
  } .content-carrousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px); 
  } .content-carrousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px); 
  } .content-carrousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px); 
  } .content-carrousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px); 
  } .content-carrousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px); 
  } .content-carrousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px); 
  } .content-carrousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px); 
  } .content-carrousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px); 
  } .content-carrousel figure:nth-child(10) {
    transform: rotateY(360deg) translateZ(300px); 
  } 
  
  .shadow {
      position: absolute;
      box-shadow: 0px 0px 20px 0px #000;
      border-radius: 1px;
  }
  
  .content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
  }
  
  .content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
  }
  
  @keyframes rotar {
    from {
      transform: rotateY(0deg);
    } to {
      transform: rotateY(360deg);
    }
  }

.over {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100; 
}

.tempContainer {
    position: fixed;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    z-index: 101;
    top: 0;
    background-color: #000000d6;
    height: 100%;
    margin-top: -17px;
    padding-top: 17px;
}
/* end gallery */
/* start pricing */
.pricing {
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: #fff;
}
.pricing .content{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    text-align: center;
}
.pricing .content .cont{
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 12px;
    padding: 60px 40px;
    width: 275px;
    transition: 0.3s;
}
.pricing .content .two{
    border-top: 7px solid purple;
    background-color: white;
    transform: translate(0 , -50px);
    box-shadow: 0 0 15px grey;
}
.pricing .content .cont:hover{
    box-shadow: 0 0 10px grey;
}
.pricing .content .cont h5{
    font-size: 15px;
    font-weight: 400;
    /* margin-bottom: -20px; */
    color: pink;
}
.pricing .content .cont  h2{
    font-size: 35px;
    font-family: var(--sec-font-family);
    color: purple;
}
.pricing .content .cont  h2 span{
    font-size: 15px;
}
.pricing .content .cont ul{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 20px;
    color: #777;
    font-size: 17px;
}
.pricing .content .cont ul del{
    font-size: 17px;
    color: #d1d1d1f6;
}
.pricing .content .cont button{
    width: 180px;
    background-color: hotpink;
    height: 40px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
}
.pricing .content .cont button:hover{
    background-color: white;
    border: 1px solid pink;
    color: hotpink;
}
/* end pricing */
/* start faq */
.faq{
    background-color: #faf6fb;
    padding-top: 100px;
    padding-bottom: 60px;
}
.faq .content .cont h3{
    font-size: 23px;
    text-transform: capitalize;
    color: purple;
    font-variant: small-caps;
    font-weight: 500;
}
.faq .content .cont p{
    font-size: 17px;
    font-weight: 300;
    color: #777;
}
/* end faq */
/* start download */
.download{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    color: white;
    text-align: center;
}
.download img{
    width: 80px;
}
.download h3{
    font-variant-caps: small-caps;
}
.download p{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 300;
}
.download .buttons{
    display: flex;
    justify-content: center;
}
.download button{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 400;
    color: hotpink;
    background-color: white;
    border: none;
    text-align: center;
    border-radius: 8px;
    float: left;
    margin-left: 25px;
    justify-content: center;
    width: 127px;
    height: 40px;
    line-height: 2.6;
    align-items: center;
    transition: 0.3s;
}
.download button:hover{
    background-color: transparent;
    border: 1px solid pink;
    color: white;
}
.download button img{
    width: 15px;
}
.download button p{
    font-size: 12px;
    padding-top: 17px;
    font-weight: 400;
}
/* end download */
/* start up */
.up .container .content .up{
    position: fixed;
    bottom: 15px;
    right: 20px;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    display: none;
}
.up .container .content img{
    width: 100%;
    box-shadow: 0 0 10px ;
    border-radius: 10px;
}

/* end up */
/* start loading */
.loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999999;
    background-color: white;
    width: 100%;
    height: 100%;
}
.loading .content{
    text-align: center;
}
.loading img{
    /* margin-left: 450px; */
    padding-top: 280px;
}
/* end loading */
